* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo-img {
  width: 120px;
  height: 120px;
}

.logo-txt {
  width: auto;
  height: 120px;
}

#cabecera figure {
  display: inline-block;
}

#cabecera {
  text-align: center;
  position: sticky;
  top: 0px;
}

.main-nav {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
  list-style: none;
  padding-left: 0px;
  border-radius: 10px;
  background-color: #075255;
  text-align: center;
}

.main-nav__item {
  display: inline-block;
}

.main-nav__item a {
  color: blanchedalmond;
  padding: 5px;
  border-radius: 3px;
  text-decoration: none;
  background-color: rgb(43, 10, 10);
}

.main-nav__item a:hover {
  color: burlywood;
}

.main-nav__item a:active {
  color: rgb(226, 145, 40);
}

.main-nav__item a::before {
  content: "/";
}

.main-nav__item a::after {
  content: "/";
}

h1 {
  margin-top: 20px;
  color: chocolate;
}

h2 {
  margin-top: 10px;
  color: white;
}

h3 {
  margin-top: 10px;
  color: rgb(115, 100, 76);
}

main {
  color: bisque;
  margin-left: 40px;
  margin-right: 30%;
  border-left: 1px solid #ccc;
  padding-left: 15px;
  width: fit-content;
  height: fit-content;
}